.left-menu-header{
    height: 70px;
    display: flex;
    justify-content: center;

    align-items: center;
}
.border-right{
    width: 100%;
    padding: 0px;
}
.left-menu-body {
    padding-left: 10px;
}
.left-menu-body ul{
   list-style: none;
   text-align: left;
   margin-top:20px;
}
.left-menu-body ul li{
    margin-bottom: 10px;
}
.menu-icon{
    font-size: 20px;
    margin-right: 10px;
}
.left-calendar{
    border: none !important;
    padding: 0px 10px 10px;
}
.menu-link{
    text-decoration: none;
    color: #000;
}
.menu-link:hover{
    text-decoration: none;
    color: aqua;
}

.left-menu-body .active{
    color: aqua;
}

